body {
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greeting,
.form {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.js-clock {
  font-size: 50px;
  text-shadow: 10px 10px 5px black;
}

.js-greeting,
.js-form {
  font-size: 36px;
  color: rgb(102, 101, 101);
  text-shadow: 3px 3px 5px white;
}

.js-toDoForm {
  position: relative;
}

.js-toDoForm input {
  height: 30px;
  width: 200px;
  border: none;

  background-color: transparent;
}

.js-toDoForm label {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  bottom: 2px;
  text-shadow: 2px 2px 2px black;
}

.js-toDoForm input:focus {
  outline: none;
}

.js-toDoForm:focus-within label {
  opacity: 0;
}
